<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541545753265-296fikev55hn89rqu199vj22titklev5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541545753265-296fikev55hn89rqu199vj22titklev5</string>
	<key>API_KEY</key>
	<string>AIzaSyBgEbTA8fJY-p_Ah-w2PUDWQBC5T2qjAEs</string>
	<key>GCM_SENDER_ID</key>
	<string>541545753265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eagleshop</string>
	<key>PROJECT_ID</key>
	<string>eagleshop-5cf9b</string>
	<key>STORAGE_BUCKET</key>
	<string>eagleshop-5cf9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541545753265:ios:ca3030e2aaf0a62bb01090</string>
</dict>
</plist>